{% extends "layout.html" %}
{% block head %} 
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel,
        html.lt-ie-10 .ie-panel {
            display: block;
        }

        body {
            
            margin: 0 auto;
            background-color: #d4f2cd;
        }

        h1 {
            text-align: center;
        }

        .caixinha {
            background-color: #edf7eb;
            border: 1px solid #ccc;
            padding: 10px;
            margin: 20px auto;
            border-radius: 5px;
            max-width: 800px;
            width: 100%;
            border-top: 1px solid #ccc;
            margin-bottom: 20px;
        }

        .caixinha:first-child {
            margin-top: 20px;
        }

        h1,
        h2,
        h3 {
            color: #333;
        }

        p {
            margin: 0;
            color: #555;
        }

        .caixinha h2 {
            margin-top: 0;
            font-size: 1.5em;
        }

        .caixinha p {
            margin-top: 5px;
        }

        .caixinha strong {
            font-weight: bold;
        }

        .caixinha em {
            font-style: italic;
        }

        .caixinha u {
            text-decoration: underline;
        }

        .destacado {
            color: #4c8a41;
            margin-bottom: 0;
            margin-top: 10px;
            font-size: 1.17em;
        }

        .email-link {
            color: #4c8a41;
            text-decoration: none;
        }

        .email-link:hover {
            text-decoration: underline;
        }

        .desconto {
            text-decoration: underline;
        }

        .site-link {
            color: #4c8a41;
            text-decoration: none;
        }

        .site-link:hover {
            text-decoration: underline;
        }

        .botoes {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .botao {
            padding: 10px 20px;
            font-size: 12px;
            background-color: #4c8a41;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 5px 5px;
            width: 10em;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 1px;
            font-weight: 700;
            line-height: 1;
            text-align: center;
        }

        .linha-botoes {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }

        .linha-botoes .botao {
            margin: 5px;
            width: 150px;
        }


        .botao-link {
            text-decoration: none;
            color: #fff;
        }

        .botao:hover {
            background-color: #396e34;
            text-decoration: underline;
        }
    </style>
    {% endblock %}
    {% block main %}
    <!--Principal-->
    <main>
        <h1 style="font-size: 3em; font-weight: bold; margin-top: 20px;">Educação</h1>
        <div class="caixinha">
            <h2 style="font-size: 1.5em;">Para garantir a qualidade de vida associados e dependentes, o SINPROBAU mantêm convênios com diversas
                empresas que oferecem descontos em produtos e serviços.</h2>
            <p>Conheça abaixo os locais e empresas parceiras e desfrute dos benefícios!</p>
        </div>
        <div class="caixinha" id="instituto">
            <h2>INSTITUIÇÕES DE ENSINO</h2>
            <div class="institutos">
                <h3 class="destacado">American Corner Bauru</h3>
                <p><strong>Endereço:</strong> Rua Antônio Alves, 22-78, Bauru, SP</p>
                <p><strong>Telefone:</strong> (14) 3214-3020 - (14) 3214-3040 </p>
                <p><strong>WhatsApp::</strong> (14) 99162-5465 </p>
                <p><strong>Email:</strong> <a href="mailto:americancornerhigienopolis@gmail.com" class="email-link">americancornerhigienopolis@gmail.com</a></p>
                <p><strong>Desconto:</strong> <u class="desconto"> 100% de desconto na primeira parcela</u></p>
            </div>
            <div class="institutos">
                <h3 class="destacado">Colégio Adventista de Bauru</h3>
                <p><strong>Endereço:</strong> Praça Itália, 3-09, Bauru, SP </p>
                <p><strong>Telefone:</strong> (14) 3321-5100 </p>
                <p><strong>Site: </strong><a href="https://www.educadventista.com" target="_blank" class="site-link">www.educadventista.com</a></p>
                <p><strong>Desconto:</strong> <u class="desconto"> 15% sobre o valor da mensalidade no ano em que o contrato for celebrado </u></p>
            </div>
            <div class="institutos">
                <h3 class="destacado">Criarte</h3>
                <p><strong>Endereço:</strong> Rua Antônio Alves, 31-51, Bauru, SP </p>
                <p><strong>Telefone:</strong> (14) 2107-8200 </p>
                <p><strong>Desconto:</strong> <u class="desconto"> 10% de desconto </u></p>
            </div>
            <div class="institutos">
                <h3 class="destacado">Esquema Único</h3>
                <p><strong>Endereço:</strong> Rua Rio Branco, 28-18, Estoril IV, Bauru, SP </p>
                <p><strong>Telefone:</strong> (14) 2107-8200 </p>
                <p><strong>Email:</strong> <a href="mailto:contato@eei.com.br" class="email-link">contato@eei.com.br</a></p>
                <p><strong>Desconto:</strong> <u class="desconto"> 30% de desconto no ensino médio e 50% de desconto no ensino fundamental </u></p>
            </div>
            <div class="institutos">
                <h3 class="destacado">FAAG - Faculdades de Agudos</h3>
                <p><strong>Endereço:</strong> Av. Marginal Vereador Delfino Tendolo, D1200, Agudos, SP </p>
                <p><strong>Telefone:</strong> (14) 3262-9400 </p>
                <p><strong>Descontos nos cursos:</strong></p>
                </p>- Administração 15% </p>
                </p>- Ciências Contábeis 15% </p>
                </p>- Engenharia de Produção 10% </p>
                </p>- Pedagogia 10% </p>
                </p>- Letras 10% </p>
                </p>- Tecnologia em Logística 10% </p>
                </p>- Tecnologia em Recursos Humanos 10% </p>
                </p>- Análise e Desenvolvimento de Sistemas 10% </p>
            </div>
            <div class="institutos">
                <h3 class="destacado">Faculdade FGP</h3>
                <p><strong>Endereço:</strong> Rua Prof. Massud José Nachef, O 2855, Pederneiras, SP </p>
                <p><strong>Telefone:</strong> (14) 3284-4999 </p>
                <p><strong>Desconto:</strong> <u class="desconto"> 20% de desconto em todos os cursos de graduação </u></p>
            </div>
            <div class="institutos">
                <h3 class="destacado">Focus Idiomas</h3>
                <p><strong>Idiomas:</strong> Inglês, espanhol, francês, italiano, japonês, alemão e português para estrangeiros</p>
                <p><strong>Endereço:</strong> Rua Christiano Pagani, 5-38, Bauru, SP </p>
                <p><strong>Telefone:</strong> (14) 3879-6793 </p>
                <p><strong>Email:</strong> <a href="mailto:contato@focusidiomasbauru.com.br" class="email-link">contato@focusidiomasbauru.com.br</a></p>
                <p><strong>Desconto:</strong> <u class="desconto"> 40% de desconto nas mensalidades </u></p>
            </div>
            <div class="institutos">
                <h3 class="destacado">Unisagrado</h3>
                <p><strong>Endereço:</strong> Rua Irmã Arminda, 10-50, Bauru, SP </p>
                <p><strong>Telefone:</strong> (14) 2107-7000 </p>
                <p><strong>Desconto:</strong> <u class="desconto"> 15% de desconto nas mensalidades dos cursos de pós-graduação (em razão da pontualidade do pagamento) </u></p>
            </div>
            <div class="institutos">
                <h3 class="destacado">Unisa - Polo Bauru</h3>
                <p><strong>Educacional superior e pós-graduação a distância</strong></p>
                <p><strong>Endereço:</strong> Avenida Nações Unidas, 14-68, Bauru, SP </p>
                <p><strong>Telefone:</strong> (14) 3243-6412 </p>
                <p><strong>Email:</strong> <a href="mailto:bauru@polounisa.br" class="email-link">bauru@polounisa.br</a></p>
                <p><strong>Desconto:</strong> <u class="desconto"> 15% de desconto </u></p>
            </div>
            <div class="institutos">
                <h3 class="destacado">Wizard Idiomas</h3>
                <p><strong>Endereço 1:</strong> Avenida Nações Unidas, 14-68, Bauru, SP </p>
                <p><strong>Telefone:</strong> (14) 3234-1005 </p>
                <p><strong>Endereço 2:</strong> Av. Nossa Sra. De Fátima, 18-49, Jd. América, Bauru, SP </p>
                <p><strong>Telefone:</strong> (14) 3234-1682 </p>
                <p><strong>Endereço 3:</strong> Rua Manoel Victorino Rello de Araújo, 5-131, Mary Dota. Bauru, SP </p>
                <p><strong>Telefone:</strong> (14) 3237-5484 </p>
                <p><strong>Desconto:</strong> <u class="desconto"> 50% de descosto na primeira parcela e 30% de desconto nas próximas parcelas </u></p>
            </div>
            <div class="institutos">
                <h3 class="destacado">Yazigi Bauru</h3>
                <p><strong>Endereço:</strong> Rua Professor Alberto Brandão de Rezende, 1-140, Jardim Amália, Bauru, SP </p>
                <p><strong>Telefone:</strong> (14) 3104-6070 </p>
                <p><strong>Email:</strong> <a href="mailto:bauru@yazigi.com" class="email-link">bauru@yazigi.com</a></p>
                <p><strong>Desconto:</strong> <u class="desconto"> 20% de desconto nas mensalidadessem e isenção na taxa de matrícula </u></p>
            </div>
            <div class="institutos">
                <h3 class="destacado">Programa Escola Promotora de Saúde e Vida</h3>
                <p><strong>Atividades para implementação das melhores condutas a serem seguidas a fim de prevenir o contágio do coronavírus, (com base nas normas e rotinas recomendadas pela OMS)</strong></p>
                <p><strong>Endereço:</strong> Rua Araújo Leite, 36-82, Jd. Aeroporto, Bauru, SP </p>
                <p><strong>WhatsApp:</strong> (14) 99856-1366 - (14) 98807-5600  </p>
                <p><strong>Facebook: </strong><a href="https://www.facebook.com/vessaudeescolar" target="_blank" class="site-link">www.facebook.com/vessaudeescolar</a></p>
                <p><strong>Site: </strong><a href="https://vessaudeescolar.com.br/" target="_blank" class="site-link">www.vessaudeescolar.com.br</a></p>
            </div>
        </div>
    </main>
    {% endblock %}
    