{% extends "layout.html" %}
{% block head %} 
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel,
        html.lt-ie-10 .ie-panel {
            display: block;
        }

        body {
            
            margin: 0 auto;
            background-color: #d4f2cd;
        }

        h1 {
            text-align: center;
        }

        .caixinha {
            background-color: #edf7eb;
            border: 1px solid #ccc;
            padding: 10px;
            margin: 20px auto;
            border-radius: 5px;
            max-width: 800px;
            width: 100%;
            border-top: 1px solid #ccc;
            margin-bottom: 20px;
        }

        .caixinha:first-child {
            margin-top: 20px;
        }

        h1,
        h2,
        h3 {
            color: #333;
        }

        p {
            margin: 0;
            color: #555;
        }

        .caixinha h2 {
            margin-top: 0;
            font-size: 1.5em;
        }

        .caixinha p {
            margin-top: 5px;
        }

        .caixinha strong {
            font-weight: bold;
        }

        .caixinha em {
            font-style: italic;
        }

        .caixinha u {
            text-decoration: underline;
        }

        .destacado {
            color: #4c8a41;
            margin-bottom: 0;
            margin-top: 10px;
            font-size: 1.17em;
        }

        .email-link {
            color: #4c8a41;
            text-decoration: none;
        }

        .email-link:hover {
            text-decoration: underline;
        }

        .desconto {
            text-decoration: underline;
        }

        .site-link {
            color: #4c8a41;
            text-decoration: none;
        }

        .site-link:hover {
            text-decoration: underline;
        }

        .botoes {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .botao {
            padding: 10px 20px;
            font-size: 12px;
            background-color: #4c8a41;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 5px 5px;
            width: 10em;
            box-sizing: border-box;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: 1px;
            font-weight: 700;
            line-height: 1;
            text-align: center;
        }

        .linha-botoes {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }

        .linha-botoes .botao {
            margin: 5px;
            width: 150px;
        }


        .botao-link {
            text-decoration: none;
            color: #fff;
        }

        .botao:hover {
            background-color: #396e34;
            text-decoration: underline;
        }
    </style>
    {% endblock %}
{% block main %}
    <!--Principal-->
    <main>
        <h1 style="font-size: 3em; font-weight: bold; margin-top: 20px;">Lazer</h1>
        <div class="caixinha">
            <h2 style="font-size: 1.5em;">Para garantir a qualidade de vida associados e dependentes, o SINPROBAU mantêm convênios com diversas
                empresas que oferecem descontos em produtos e serviços.</h2>
            <p>Conheça abaixo os locais e empresas parceiras e desfrute dos benefícios!</p>
        </div>
        <div class="caixinha" id="lazer">
            <h2>LAZER</h2>
            <div class="titulos-geral">
                <h3 class="destacado">Sinpro – Bauru e Centros de Qualidade de Vida do SESI-SP</h3>
                <p><strong>Os associados do Sinpro-Bauru com a apresentação da carteira associativa poderão frequentar os clubes do SESI Jaú, Bauru e Botucatu (da nossa região), e todos os outros do estado de São Paulo com valores diferenciados. Para ter acesso às piscinas somente após trazer o exame dermatológico. </strong></p>
                <br>
                <p><strong>Vantagens:</strong></p>
                <p>- Livre utilização dos 55 Centros de Qualidade de Vida, mediante apresentação de carteirinha de usuário;</p>
                <p>- Utilização de toda a área de lazer: Campo de Futebol / Campo de Grama Sintética / Piscinas recreativas e semiolímpica / Playground / Quadra poliesportiva coberta e descoberta / Ginásio de esportes / Quiosque com churrasqueira / Vestiários / Lanchonete / Pista de corrida e caminhada;</p>
                <p>- Valores diferenciados nas taxas de manutenção;</p>
                <p>- Desconto nas taxas dos produtos oferecidos nos Centros de Qualidade de Vida do SESI-SP;</p>
                <p>- Plano Total - Extensão dos benefícios aos dependentes dos trabalhadores (Cônjuges e Filhos - até 21 anos)</p>
                <br>
                <p><strong>Sites:</strong></p>
                <p><a href="https://bauru.sesisp.org.br" target="_blank" class="site-link">www.bauru.sesisp.org.br</a></p>
                <p><a href="https://jau.sesisp.org.br" target="_blank" class="site-link">www.jau.sesisp.org.br</a></p>
                <p><a href="https://botucatu.sesisp.org.br" target="_blank" class="site-link">www.botucatu.sesisp.org.br</a></p>
                <p><a href="https://sesisp.org.br" target="_blank" class="site-link">www.sesisp.org.br</a></p>
            </div>
        </div>
    </main>
    {% endblock %}
    