<ul class="rd-navbar-nav">
    <li class="rd-nav-item active"><a class="rd-nav-link" href="{{ url_for("index") }}">Home</a></li>
    <li class="rd-nav-item"><a class="rd-nav-link" href="{{ url_for("sindicato") }}">Sindicato</a></li>
    <li class="rd-nav-item"><a class="rd-nav-link" href="{{ url_for("convenios") }}">Convênios</a></li>
    <li class="rd-nav-item"><a class="rd-nav-link" href="{{ url_for("convencoes") }}">Convenções</a></li>
    <li class="rd-nav-item"><a class="rd-nav-link" href="{{ url_for("noticias") }}">Notícias</a></li>
    <li class="rd-nav-item"><a class="rd-nav-link" href="{{ url_for("carteirinha") }}">Carteirinha Virtual</a></li>
    <li class="rd-nav-item"><a class="rd-nav-link" href="{{ url_for("contato") }}">Contato</a></li>
  </ul>