{% extends "layout.html" %}
{% block main %}

    <!--Principal-->
    <main>
        <section class="section section-sm">
            <div class="container">
              <h3 style="text-align: center; padding-bottom: 15px;">Convênios</h3>
              <div class="row row-30">
                <div class="col-sm-6 col-lg-4">
                  <article class="box-icon-classic">
                    <div
                      class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                      <div class="unit-left">
                        <div class="box-icon-classic-icon fa fa-heartbeat"></div>
                      </div>
                      <div class="unit-body">
                        <h5 class="box-icon-classic-title"><a href="{{ url_for("convenios_detalhes", pagina="saude") }}">Saúde</a></h5>
                        <p class="box-icon-classic-text">Sua saúde, nossa prioridade!</p>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <article class="box-icon-classic">
                    <div
                      class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                      <div class="unit-left">
                        <div class="box-icon-classic-icon fa fa-graduation-cap"></div>
                      </div>
                      <div class="unit-body">
                        <h5 class="box-icon-classic-title"><a href="{{ url_for("convenios_detalhes", pagina="educacao") }}">Educação</a></h5>
                        <p class="box-icon-classic-text">Aqui, conhecimento é poder!</p>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <article class="box-icon-classic">
                    <div
                      class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                      <div class="unit-left">
                        <div class="box-icon-classic-icon 	fa fa-smile-o"></div>
                      </div>
                      <div class="unit-body">
                        <h5 class="box-icon-classic-title"><a href="{{ url_for("convenios_detalhes", pagina="beleza") }}">Beleza</a></h5>
                        <p class="box-icon-classic-text">Realce sua beleza, revele seu poder!</p>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <article class="box-icon-classic">
                    <div
                      class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                      <div class="unit-left">
                        <div class="box-icon-classic-icon fa fa-shopping-cart"></div>
                      </div>
                      <div class="unit-body">
                        <h5 class="box-icon-classic-title"><a href="{{ url_for("convenios_detalhes", pagina="comercio") }}">Comércio</a></h5>
                        <p class="box-icon-classic-text">Compras inteligentes, sorrisos constantes!</p>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <article class="box-icon-classic">
                    <div
                      class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                      <div class="unit-left">
                        <div class="box-icon-classic-icon fa fa-plane"></div>
                      </div>
                      <div class="unit-body">
                        <h5 class="box-icon-classic-title"><a href="{{ url_for("convenios_detalhes", pagina="viagem") }}">Viagem</a></h5>
                        <p class="box-icon-classic-text">Descubra o mundo conosco, aventure-se!</p>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <article class="box-icon-classic">
                    <div
                      class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
                      <div class="unit-left">
                        <div class="box-icon-classic-icon fa fa-angellist"></div>
                      </div>
                      <div class="unit-body">
                        <h5 class="box-icon-classic-title"><a href="{{ url_for("convenios_detalhes", pagina="lazer") }}">Lazer</a></h5>
                        <p class="box-icon-classic-text">Relaxe, divirta-se, aproveite a vida!</p>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </section>
    </main>
    {% endblock %}
   