{% extends "layout.html" %}
{% block main %}
  <!-- Carrossel-->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="static/images/lutarpelobrasil-carrossel.jpg" alt="Primeiro Slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="static/images/conteconosco-carrossel.jpg" alt="Segundo Slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="static/images/atendimento-carrossel.jpg" alt="Terceiro Slide">
      </div>
      <div class="carousel-item">
        <a href="Cvirtual.html"><img class="d-block w-100" src="static/images/app.jpg" alt="Quarto Slide"></a>
      </div>
    </div>
  </div>
  <!-- Sobre nós-->
  <section class="section section-lg bg-default"
    style="background: rgb(255,255,255); background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(16,112,80,1) 100%);">
    <div class="container">
      <h3 class="oh-desktop" style="text-align: center; padding-bottom: 15px;">
        <span class="d-inline-block wow slideInDown" style="visibility: visible; animation-name: slideInDown;">Sobre
          Nós</span>
      </h3>
    </div>
    <section class="sobre-nos" style="padding: 15px; padding-left: 85px; font-size: 18px;">
      <p>O Sindicato dos Professores, também conhecido como SINPRO, é uma organização que representa os interesses e
        direitos dos professores em diversas cidades da região de Bauru. Sua história está profundamente ligada à luta
        dos trabalhadores no Brasil, e ele desempenha um papel fundamental na busca por conquistas imediatas e profundas
        para a categoria.</p>
      <p>O Sindicato vai além de uma instituição simples com uma sede administrativa; ele é uma manifestação sociológica
        das massas organizadas em prol de questões como salário, emprego, participação política e muito mais. Além
        disso, o SINPRO busca capacitar os trabalhadores, tornando-os “sujeitos políticos independentes” capazes de
        contribuir para a construção de uma sociedade melhor.</p>
      <p>As principais funções do Sindicato incluem a defesa dos interesses da categoria e a organização para conquistas
        coletivas que visam proteger os direitos e atender às necessidades dos professores.</p>
      <p>O SINPRO tem uma abrangência significativa, representando professores em várias cidades da região. Ele está
        comprometido em garantir os direitos e interesses dos professores e em contribuir para uma educação de
        qualidade. Se você é professor e deseja fazer parte de uma organização que luta pelos seus direitos e pelo
        avanço da educação, o SINPRO é a escolha certa para você. Junte-se a nós e faça parte dessa luta por um futuro
        melhor.</p>
    </section>
    <div style="display: flex; justify-content: flex-end; padding-right: 45px;">
      <a class="button button-md button-default-outline-2 button-ujarak" href="sindicato.html">Saiba Mais</a>
    </div>
  </section>
  <!--	Convênios-->
  <section class="section section-sm">
    <div class="container">
      <h3 style="text-align: center; padding-bottom: 15px;">Convênios</h3>
      <div class="row row-30">
        <div class="col-sm-6 col-lg-4">
          <article class="box-icon-classic">
            <div
              class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
              <div class="unit-left">
                <div class="box-icon-classic-icon fa fa-heartbeat"></div>
              </div>
              <div class="unit-body">
                <h5 class="box-icon-classic-title"><a href="saude.html">Saúde</a></h5>
                <p class="box-icon-classic-text">Sua saúde, nossa prioridade!</p>
              </div>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4">
          <article class="box-icon-classic">
            <div
              class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
              <div class="unit-left">
                <div class="box-icon-classic-icon fa fa-graduation-cap"></div>
              </div>
              <div class="unit-body">
                <h5 class="box-icon-classic-title"><a href="educacao.html">Educação</a></h5>
                <p class="box-icon-classic-text">Aqui, conhecimento é poder!</p>
              </div>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4">
          <article class="box-icon-classic">
            <div
              class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
              <div class="unit-left">
                <div class="box-icon-classic-icon 	fa fa-smile-o"></div>
              </div>
              <div class="unit-body">
                <h5 class="box-icon-classic-title"><a href="beleza.html">Beleza</a></h5>
                <p class="box-icon-classic-text">Realce sua beleza, revele seu poder!</p>
              </div>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4">
          <article class="box-icon-classic">
            <div
              class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
              <div class="unit-left">
                <div class="box-icon-classic-icon fa fa-shopping-cart"></div>
              </div>
              <div class="unit-body">
                <h5 class="box-icon-classic-title"><a href="comercio.html">Comércio</a></h5>
                <p class="box-icon-classic-text">Compras inteligentes, sorrisos constantes!</p>
              </div>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4">
          <article class="box-icon-classic">
            <div
              class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
              <div class="unit-left">
                <div class="box-icon-classic-icon fa fa-plane"></div>
              </div>
              <div class="unit-body">
                <h5 class="box-icon-classic-title"><a href="viagem.html">Viagem</a></h5>
                <p class="box-icon-classic-text">Descubra o mundo conosco, aventure-se!</p>
              </div>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-lg-4">
          <article class="box-icon-classic">
            <div
              class="unit box-icon-classic-body flex-column flex-md-row text-md-left flex-lg-column text-lg-center flex-xl-row text-xl-left">
              <div class="unit-left">
                <div class="box-icon-classic-icon fa fa-angellist"></div>
              </div>
              <div class="unit-body">
                <h5 class="box-icon-classic-title"><a href="lazer.html">Lazer</a></h5>
                <p class="box-icon-classic-text">Relaxe, divirta-se, aproveite a vida!</p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  <!-- Membros da Diretoria-->
  <section class="section section-sm">
    <div class="container">
      <h3 class="title-block find-car oh" style="text-align: center; padding-bottom: 15px;"><span
          class="d-inline-block wow slideInUp">Diretoria</span></h3>
      <div class="row row-30 justify-content-center box-ordered">
        <div class="col-sm-6 col-md-5 col-lg-3">
          <!-- Integrante-->
          <article class="team-modern">
            <div class="team-modern-header"><a class="team-modern-figure" href="#"><img class="img-circles"
                  src="static/images/sebastiao.png" alt="" style="height: 118px; width: 118px;" /></a>
              <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70"
                xml:space="preserve">
                <g>
                  <path fill="#161616"
                    d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
                </g>
              </svg>
            </div>
            <div class="team-modern-caption">
              <h6 class="team-modern-name"><a href="#">Sebastião Clementino da Silva</a></h6>
              <p class="team-modern-status">Presidente</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-3">
          <!-- Integrante-->
          <article class="team-modern">
            <div class="team-modern-header"><a class="team-modern-figure" href="#"><img class="img-circles"
                  src="static/images/elvio.png" alt="" style="height: 118px; width: 118px;" /></a>
              <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70"
                xml:space="preserve">
                <g>
                  <path fill="#161616"
                    d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
                </g>
              </svg>
            </div>
            <div class="team-modern-caption">
              <h6 class="team-modern-name"><a href="#">Élvio Gilberto da Silva</a></h6>
              <p class="team-modern-status">Vice-Presidente</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-3">
          <!-- Integrante-->
          <article class="team-modern">
            <div class="team-modern-header"><a class="team-modern-figure" href="#"><img class="img-circles"
                  src="static/images/monica.png" alt="" style="height: 118px; width: 118px;" /></a>
              <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70"
                xml:space="preserve">
                <g>
                  <path fill="#161616"
                    d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
                </g>
              </svg>
            </div>
            <div class="team-modern-caption">
              <h6 class="team-modern-name"><a href="#">Mônica Medola Damine</a></h6>
              <p class="team-modern-status">Secretária Geral</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-3">
          <!-- Integrante-->
          <article class="team-modern">
            <div class="team-modern-header"><a class="team-modern-figure" href="#"><img class="img-circles"
                  src="static/images/felipe.png" alt="" style="height: 118px; width: 118px;" /></a>
              <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70"
                xml:space="preserve">
                <g>
                  <path fill="#161616"
                    d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
                </g>
              </svg>
            </div>
            <div class="team-modern-caption">
              <h6 class="team-modern-name"><a href="#">Felipe de Moura Garrido</a></h6>
              <p class="team-modern-status">Diretor de Assuntos Profissionais</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-3">
          <!-- Integrante-->
          <article class="team-modern">
            <div class="team-modern-header"><a class="team-modern-figure" href="#"><img class="img-circles"
                  src="static/images/carlos.png" alt="" style="height: 118px; width: 118px;" /></a>
              <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70"
                xml:space="preserve">
                <g>
                  <path fill="#161616"
                    d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
                </g>
              </svg>
            </div>
            <div class="team-modern-caption">
              <h6 class="team-modern-name"><a href="#">Carlos Roberto de Oliveira</a></h6>
              <p class="team-modern-status">Diretor Tesoureiro</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-3">
          <!-- Integrante-->
          <article class="team-modern">
            <div class="team-modern-header"><a class="team-modern-figure" href="#"><img class="img-circles"
                  src="static/images/luciane.png" alt="" style="height: 118px; width: 118px;" /></a>
              <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70"
                xml:space="preserve">
                <g>
                  <path fill="#161616"
                    d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
                </g>
              </svg>
            </div>
            <div class="team-modern-caption">
              <h6 class="team-modern-name"><a href="#">Luciane Bezerra de Toledo</a></h6>
              <p class="team-modern-status">Diretoria - Suplente</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-3">
          <!-- Integrante-->
          <article class="team-modern">
            <div class="team-modern-header"><a class="team-modern-figure" href="#"><img class="img-circles"
                  src="static/images/washington.png" alt="" style="height: 118px; width: 118px;" /></a>
              <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70"
                xml:space="preserve">
                <g>
                  <path fill="#161616"
                    d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
                </g>
              </svg>
            </div>
            <div class="team-modern-caption">
              <h6 class="team-modern-name"><a href="#">Washington Luiz Bueno Silva</a></h6>
              <p class="team-modern-status">Diretoria - Suplente</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-3">
          <!-- Integrante-->
          <article class="team-modern">
            <div class="team-modern-header"><a class="team-modern-figure" href="#"><img class="img-circles"
                  src="static/images/nair.png" alt="" style="height: 118px; width: 118px;" /></a>
              <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70"
                xml:space="preserve">
                <g>
                  <path fill="#161616"
                    d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
                </g>
              </svg>
            </div>
            <div class="team-modern-caption">
              <h6 class="team-modern-name"><a href="#">Nair Leite Ribeiro Nassarala</a></h6>
              <p class="team-modern-status">Conselho Fiscal - Efetivo</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-3">
          <!-- Integrante-->
          <article class="team-modern">
            <div class="team-modern-header"><a class="team-modern-figure" href="#"><img class="img-circles"
                  src="static/images/creusa.png" alt="" style="height: 118px; width: 118px;" /></a>
              <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70"
                xml:space="preserve">
                <g>
                  <path fill="#161616"
                    d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
                </g>
              </svg>
            </div>
            <div class="team-modern-caption">
              <h6 class="team-modern-name"><a href="#">Creusa Vitalino Guimarães</a></h6>
              <p class="team-modern-status">Conselho Fiscal - Efetivo</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-3">
          <!-- Integrante-->
          <article class="team-modern">
            <div class="team-modern-header"><a class="team-modern-figure" href="#"><img class="img-circles"
                  src="static/images/sebastiao.png" alt="" style="height: 118px; width: 118px;" /></a>
              <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70"
                xml:space="preserve">
                <g>
                  <path fill="#161616"
                    d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
                </g>
              </svg>
            </div>
            <div class="team-modern-caption">
              <h6 class="team-modern-name"><a href="#">Sebastião Clementino da Silva</a></h6>
              <p class="team-modern-status">Delegado Representante à Federação - Efetivo</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-3">
          <!-- Integrante-->
          <article class="team-modern">
            <div class="team-modern-header"><a class="team-modern-figure" href="#"><img class="img-circles"
                  src="static/images/carlos.png" alt="" style="height: 118px; width: 118px;" /></a>
              <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70"
                xml:space="preserve">
                <g>
                  <path fill="#161616"
                    d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
                </g>
              </svg>
            </div>
            <div class="team-modern-caption">
              <h6 class="team-modern-name"><a href="#">Carlos Roberto de Oliveira</a></h6>
              <p class="team-modern-status">Delegado Representante à Federação - Efetivo</p>
            </div>
          </article>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-3">
          <!-- Integrante-->
          <article class="team-modern">
            <div class="team-modern-header"><a class="team-modern-figure" href="#"><img class="img-circles"
                  src="static/images/felipe.png" alt="" style="height: 118px; width: 118px;" /></a>
              <svg x="0px" y="0px" width="270px" height="70px" viewbox="0 0 270 70" enable-background="new 0 0 270 70"
                xml:space="preserve">
                <g>
                  <path fill="#161616"
                    d="M202.085,0C193.477,28.912,166.708,50,135,50S76.523,28.912,67.915,0H0v70h270V0H202.085z"></path>
                </g>
              </svg>
            </div>
            <div class="team-modern-caption">
              <h6 class="team-modern-name"><a href="#">Felipe de Moura Garrido</a></h6>
              <p class="team-modern-status">Delegado Representante à Federação - Suplente</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner-->
  <section class="section bg-default text-center offset-top-50">
      <a href="contato.php"><img class="d-block w-100" src="static/images/denuncia.jpg"></a>
  </section>
{% endblock %}