<ul class="rd-navbar-nav">
    <li class="rd-nav-item active"><a class="rd-nav-link" href="index.html">Home</a></li>
    <li class="rd-nav-item"><a class="rd-nav-link" href="{{ url_for("sindicato") }}">Sindicato</a></li>
    <li class="rd-nav-item"><a class="rd-nav-link" href="convenios.html">Convênios</a></li>
    <li class="rd-nav-item"><a class="rd-nav-link" href="convencoes.html">Convenções</a></li>
    <li class="rd-nav-item"><a class="rd-nav-link" href="noticias.php">Notícias</a></li>
    <li class="rd-nav-item"><a class="rd-nav-link" href="carteirinha_virtual.html">Carteirinha Virtual</a></li>
    <li class="rd-nav-item"><a class="rd-nav-link" href="contato.php">Contato</a></li>
  </ul>