<!-- Rodapé-->
<footer class="section footer-corporate context-dark">
    <div class="footer-corporate-inset">
      <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
        <div style="display: flex; flex-direction: column; align-items: center; width: 35%;">
          <div class="logo" style="display: flex; justify-content: center; padding-bottom: 25px;">
            <img src="static/images/logo1.png" alt="Logo da Empresa" style="width: 60%;">
          </div>
          <div class="patrocinadores" style="display: flex; justify-content: center; align-items: center;">
            <a href="http://contee.org.br/contee/" style="width: 10%;"><img src="static/images/logo_contee.png"
                alt="Logo Contee"></a>
            <a href="http://portalctb.org.br/site/" style="width: 10%;"><img src="static/images/logo_ctb.png"
                alt="Logo CTB"></a>
            <a href="http://www.fepesp.org.br/" style="width: 10%;"><img src="static/images/logo_fepesp.jpg"
                alt="Logo Fepesp"></a>
          </div>
        </div>
        <div class="row row-40 justify-content-lg-between" style="width: 100%;">
          <div class="col-sm-6 col-md-12 col-lg-3 col-xl-4">
            <div class="oh-desktop">
              <div class="wow slideInRight" data-wow-delay="0s">
                <h6 class="text-spacing-100 text-uppercase">Sindicato dos Professores de Bauru</h6>
                <ul class="footer-contacts d-inline-block d-sm-block">
                  <li>
                    <div class="unit">
                      <div class="unit-left"><span class="icon fa fa-phone"></span></div>
                      <div class="unit-body"><a class="link-phone" href="tel:#">(14) 3879-5313 - (FAX)</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit">
                      <div class="unit-left"><span class="icon fa fa-envelope"></span></div>
                      <div class="unit-body"><a class="link-aemail" href="#">Mande um E-mail</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit">
                      <div class="unit-left"><span class="icon fa fa-location-arrow"></span></div>
                      <div class="unit-body"><a class="link-location" href="#">Rua Capitão Gomes Duarte, 6-74 - Bauru -
                          SP</a></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="copyright"
    style="display: flex; justify-content: center; align-items: center; background: #12533d; color: #ffffff;">
    <p>&copy;Sindicato dos Professores de Bauru 2023 - Todos os direitos reservados.</p>
  </div>

  <!-- Global Mailform Output-->
  <div class="snackbars" id="form-output-global"></div>